.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.intro-container {
  margin: 150px;
  padding: 1.5em;
  background-color: #F6F7F9;
}

 .intro-details p {
  display: flex;
  justify-content: flex-start;
  font-family: 'Courier New', monospace;
  font-size: 30px;
}

.intro-details h1 {

  font-size: 48px;
  text-align: center;
}

.personal-info {
  margin-left: 150px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.personal-container {

  background-color: #61dafb;
}



/* #intro-text {
  font-weight: bold;
} */
